<!DOCTYPE html>
<html lang="en" xmins:th="https://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}"> </head>

<body class="index-page">

	<div th:insert="~{usuario/template_user.html::header}" th:if="${sesion == null}"></div>
	<div th:insert="~{usuario/template_user.html::usuarioCabecera}" th:unless="${sesion == null}"></div>


	<main class="main">

		<!-- Page Title -->
		<div class="page-title light-background">
			<div class="container">
				<h1>Servicios</h1>
				<nav class="breadcrumbs">
					<ol>
						<li><a th:href="@{/}">Inicio</a></li>
						<li class="current">Servicios</li>
					</ol>
				</nav>
			</div>
		</div><!-- End Page Title -->

		<!-- Service Details Section -->
		<section id="service-details" class="service-details section">

			<div class="container">

				<div class="row gy-5">

					<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

						<div class="service-box">
							<h4>Lista de Servicios</h4>
							<div class="services-list" th:each="servicio: ${servicios}">
								<a th:href="@{/servicioHome/{id} (id=${servicio.id})}" th:text="${servicio.nombre}"><i
										class="bi bi-arrow-right-circle"></i><span></span></a>
							</div>
						</div><!-- End Services List -->

						<div class="service-box">
							<h4>Descargar Catalogo</h4>
							<div class="download-catalog">
								<a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalogo PDF</span></a>
								<a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalogo DOC</span></a>
							</div>
						</div><!-- End Services List -->

						<div class="help-box d-flex flex-column justify-content-center align-items-center">
							<i class="bi bi-headset help-icon"></i>
							<h4>Tienes una pregunta?</h4>
							<p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i>
								<span>+52 993 315 5664</span>
							</p>
							<p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a
									th:href="@{/mantenimiento}">catcomarketing@gmail.com</a></p>
						</div>

					</div>
					<div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
						<img th:src="@{images/img/tratamiento.jpeg}" alt="Servicio de Barbería y Spa"
							class="img-fluid services-img">
						<h3>Corte de Cabello</h3>
						<p>
							El corte de cabello es el proceso de dar forma y estilo al cabello mediante el uso de
							tijeras, navajas o máquinas eléctricas. Puede realizarse con diferentes técnicas y estilos
							según la textura del cabello, la forma del rostro y la preferencia personal.
						</p>
						<ul>
							<li><i class="bi bi-check-circle"></i> <span>Cortes de cabello personalizados y de
									tendencia.</span></li>
							<li><i class="bi bi-check-circle"></i> <span>Afeitado tradicional con toallas calientes para
									una experiencia única.</span></li>
							<li><i class="bi bi-check-circle"></i> <span>Masajes relajantes y tratamientos faciales
									rejuvenecedores.</span></li>
						</ul>
						<p>
							Nuestro equipo de expertos barberos está dedicado a ofrecerte una
							atención de calidad, brindando un ambiente relajado y profesional donde podrás desconectar
							del estrés diario. Desde cortes clásicos hasta los cortes de moda, nos aseguramos de que
							te sientas renovado.
						</p>
						<p>
							Además, utilizamos productos de alta gama que cuidan tu cabello, ofreciendo
							resultados duraderos y una sensación de bienestar total. Ven para un corte de
							cabello rápido, tu satisfacción está garantizada.
						</p>
						<p>
							Ven y vive la experiencia de transformación total, donde no solo mejorarás tu apariencia,
							sino también tu bienestar. Estamos aquí para cuidarte y hacerte sentir mejor que nunca. ¡Te
							esperamos en nuestra barbería y spa!
						</p>
					</div>

				</div>

			</div>

		</section><!-- /Service Details Section -->

	</main>

	<div th:insert="~{usuario/template_user.html::footer}"></div>
	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Preloader -->
	<div id="preloader"></div>

	<div th:insert="~{usuario/template_user.html::jsFiles}">

	</div>

</body>

</html>