<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head th:insert="~{administrador/template_admin.html::head}"></head>

<body>

	<!-- ======= Header ======= -->
	<div th:insert="~{administrador/template_admin.html::header}"></div>


	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Panel</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
					<li class="breadcrumb-item active">Panel</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<h1>Productos</h1>
			<div class="row align-items-top">
				<div class="col-lg-4" th:each="producto:${productos}">
					<!-- Card with an image on top -->
					<div class="card">
						<img th:src="@{/images/{img} (img=${producto.imagen})}" class="card-img-top" th:alt="${producto.nombreproducto}">
						<div class="card-body">
							<h5 class="card-title" th:text="${producto.nombreproducto}"></h5>
							<p class="card-text" th:text="${producto.descripcion}"></p>
						</div>
					</div><!-- End Card with an image on top -->
				</div>
			</div>
		</section>

		<section class="section dashboard">
			<h1>Servicios</h1>
			<div class="row align-items-top">
				<div class="col-lg-4" th:each="servicio:${servicios}">
					<!-- Card with an image on top -->
					<div class="card">
						<img th:src="@{/images/{img} (img=${servicio.imagen})}" class="card-img-top" th:alt="${servicio.nombre}">
						<div class="card-body">
							<h5 class="card-title" th:text="${servicio.nombre}"></h5>
							<p class="card-text" th:text="${servicio.descripcion}"></p>
						</div>
					</div><!-- End Card with an image on top -->
				</div>
			</div>
		</section>
		<section class="section dashboard">
					<h1>Sucursales</h1>
					<div class="row align-items-top">
						<div class="col-lg-4" th:each="sucursal:${sucursales}">
							<!-- Card with an image on top -->
							<div class="card">
								<img th:src="@{/images/{img} (img=${sucursal.imagen})}" class="card-img-top" th:alt="${sucursal.nombre}">
								<div class="card-body">
									<h5 class="card-title" th:text="${sucursal.nombre}"></h5>
									<p class="card-text" th:text="${sucursal.direccion}"></p>
								</div>
							</div><!-- End Card with an image on top -->
						</div>
					</div>
				</section>

	</main><!-- End #main -->

	<div th:insert="~{administrador/template_admin.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{administrador/template_admin.html::jsFiles}"></div>

</body>

</html>